
{% extends "_layouts/main" %}
{% block main %}
<style>
.logo {
    display:none
}
.logo-black {
    display:block !important
}
</style>

<br>
<div class="row main">
<h2>REEL</h2>
<br>
<div class="clr"></div>



        </div>
    </div>
  






</div>




{% endblock %}